In [1]:
# ipynb形式のライブラリのインポート
%run ./lib/lib.ipynb

# 生データの入ったCSVファイルの保持されたディレクトリ名を格納している変数
csvDirPath = "./csv_files/"
benchmarkNames = ["cg", "ep", "ft", "is", "lu", "mg"]

DEBUG:__main__:hello

In [2]:
# ipynb形式のライブラリノートを.py形式に変更したものをインポート
import lib
import lib.lab_lib
from lib.lab_lib import *

DEBUG:lib.lab_lib:hello

In [3]:
benchmark_name = "cg"

classes = ["A", "B", "C", "D", "E", "F"]
processes = [2, 4, 8, 16, 32, 64, 128, 256]

dict_column_names_JP = {
    "functionName": "関数名",
    "modelLin": "線形",
    "modelIp": "反比例",
    "modelLog": "対数",
    "modelLinAndIp": "線形＆反比例",
    "modelLinAndLog": "線形＆対数",
    "modelIpAndLin": "反比例＆線形",
    "modelIpAndLog": "反比例＆対数",
    "modelLogAndLin": "対数＆線形",
    "modelLogAndIp": "対数＆反比例",
}

model_names_list_JP = list(dict_column_names_JP.values())
model_names_list_JP.remove("関数名")

model_names_list = list(dict_column_names_JP.keys())
model_names_list.remove("functionName")

date = "2022年2月2日"

# コア数と問題サイズの両方を振る

rawDF = return_rawDF_with_init_param(
    benchmark_name=benchmark_name,
    classes=classes,
    processes=processes,
    csv_dir_path="./csv_files/",
)

exp_var = rawDF.columns.tolist()
for element_be_removed in [
    "functionName",
    "functionCallNum",
    "intBenchmarkClass",
    "benchmarkName",
    "benchmarkClass",
]:
    exp_var.remove(element_be_removed)
res_var = ["functionCallNum"]

rawDF_CONJ_GRAD = rawDF[rawDF["functionName"] == "CONJ_GRAD"]
rawDF_CONJ_GRAD

# returned_MAPE_table = return_MAPE_Table_DF_from_rawDF(
#     rawDF=rawDF,
#     exp_var_list=exp_var,
#     res_var_list=res_var,
#     model_name_list=model_names_list,
# )
# df = returned_MAPE_table.rename(columns=dict_column_names_JP)
# df = df.set_index("関数名")
# df = df.sort_index(axis=0)
# df = df.sort_index(axis=1)

# df = addLowestMAPEsModelNameColumn(df, version=2, model_name_list=model_names_list_JP)

# print(
#     df.to_latex(
#         caption=f"ベンチマークプログラム{benchmark_name.upper()}における各モデルでのMAPE",
#         label=f"{date}everyModelsMAPEtableIn{benchmark_name.upper()}",
#     )
# )

,functionName,functionCallNum,benchmarkName,benchmarkClass,process,intBenchmarkClass,na,nonzer,niter,shift
5,CONJ_GRAD,16.0,cg,A,2,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,4,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,8,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,16,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,32,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,64,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,128,1,14000,11,15,20
6,CONJ_GRAD,16.0,cg,A,256,1,14000,11,15,20
2,CONJ_GRAD,31.0,cg,B,2,4,75000,13,75,60
2,CONJ_GRAD,46.0,cg,B,4,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,8,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,16,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,32,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,64,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,128,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,256,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,C,2,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,4,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,8,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,16,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,32,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,64,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,128,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,256,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,D,2,256,1500000,21,100,500
2,CONJ_GRAD,76.0,cg,D,4,256,1500000,21,100,500
2,CONJ_GRAD,76.0,cg,D,8,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,16,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,32,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,64,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,128,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,256,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,E,32,4096,9000000,26,100,1500
2,CONJ_GRAD,101.0,cg,E,64,4096,9000000,26,100,1500
2,CONJ_GRAD,101.0,cg,E,128,4096,9000000,26,100,1500
2,CONJ_GRAD,101.0,cg,E,256,4096,9000000,26,100,1500
2,CONJ_GRAD,101.0,cg,F,256,65536,54000000,26,100,1500

# （2022年2月23日～）

# 新モデルの実装

In [4]:
test_processesDevidedByProblemSize()

In [5]:
test_Model_ProcessesDevidedByProblemSize_ForMultipleRegression()

/usr/local/lib/python3.10/site-packages/scipy/optimize/_minpack_py.py:833: OptimizeWarning: Covariance of the parameters could not be estimated
  warnings.warn('Covariance of the parameters could not be estimated',

# （2022年2月22日～）【個人作業】

# 回帰木による予測

In [6]:
from sklearn.tree import DecisionTreeRegressor

rawDF

,functionName,functionCallNum,benchmarkName,benchmarkClass,process,intBenchmarkClass,na,nonzer,niter,shift
0,.TAU_application,1.0,cg,A,2,1,14000,11,15,20
1,CG,1.0,cg,A,2,1,14000,11,15,20
2,MPI_Finalize(),1.0,cg,A,2,1,14000,11,15,20
3,INITIALIZE_MPI,1.0,cg,A,2,1,14000,11,15,20
4,MPI_Init(),1.0,cg,A,2,1,14000,11,15,20
...,...,...,...,...,...,...,...,...,...,...
17,MPI_Reduce(),1.0,cg,F,256,65536,54000000,26,100,1500
18,SETUP_SUBMATRIX_INFO,1.0,cg,F,256,65536,54000000,26,100,1500
19,MPI_Comm_size(),1.0,cg,F,256,65536,54000000,26,100,1500
20,MPI_Comm_rank(),1.0,cg,F,256,65536,54000000,26,100,1500
21,SETUP_PROC_INFO,1.0,cg,F,256,65536,54000000,26,100,1500

In [7]:
rawDF_CONJ_GRAD = rawDF[rawDF["functionName"] == "CONJ_GRAD"]
rawDF_CONJ_GRAD

,functionName,functionCallNum,benchmarkName,benchmarkClass,process,intBenchmarkClass,na,nonzer,niter,shift
5,CONJ_GRAD,16.0,cg,A,2,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,4,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,8,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,16,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,32,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,64,1,14000,11,15,20
5,CONJ_GRAD,16.0,cg,A,128,1,14000,11,15,20
6,CONJ_GRAD,16.0,cg,A,256,1,14000,11,15,20
2,CONJ_GRAD,31.0,cg,B,2,4,75000,13,75,60
2,CONJ_GRAD,46.0,cg,B,4,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,8,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,16,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,32,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,64,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,128,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,B,256,4,75000,13,75,60
2,CONJ_GRAD,76.0,cg,C,2,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,4,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,8,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,16,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,32,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,64,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,128,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,C,256,16,150000,15,75,110
2,CONJ_GRAD,76.0,cg,D,2,256,1500000,21,100,500
2,CONJ_GRAD,76.0,cg,D,4,256,1500000,21,100,500
2,CONJ_GRAD,76.0,cg,D,8,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,16,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,32,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,64,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,128,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,D,256,256,1500000,21,100,500
2,CONJ_GRAD,101.0,cg,E,32,4096,9000000,26,100,1500
2,CONJ_GRAD,101.0,cg,E,64,4096,9000000,26,100,1500
2,CONJ_GRAD,101.0,cg,E,128,4096,9000000,26,100,1500
2,CONJ_GRAD,101.0,cg,E,256,4096,9000000,26,100,1500
2,CONJ_GRAD,101.0,cg,F,256,65536,54000000,26,100,1500

In [8]:
print(f"exp_var = {exp_var}")

print(f"res_var = {res_var}")

print(f"rawDF_CONJ_GRAD.shape = {rawDF_CONJ_GRAD.shape}")

exp_var = ['process', 'na', 'nonzer', 'niter', 'shift']
res_var = ['functionCallNum']
rawDF_CONJ_GRAD.shape = (37, 10)

In [9]:
X = rawDF_CONJ_GRAD.filter(items=exp_var)
Y = rawDF_CONJ_GRAD.filter(items=res_var)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(
    X, Y, test_size=0.1, random_state=1234
)

# X_train, X_test, Y_train, Y_test

In [11]:
reg = DecisionTreeRegressor(max_leaf_nodes=20)

model = reg.fit(X_train, Y_train)
print(f"model = {model}")

model = DecisionTreeRegressor(max_leaf_nodes=20)

In [12]:
from sklearn.metrics import r2_score

YHat = model.predict(X_test)
r2 = r2_score(Y_test, YHat)
print("R^2 = ", r2)

R^2 =  0.9516129032258065

In [13]:
from sklearn import tree
from IPython.display import Image
import pydotplus

dot_data = tree.export_graphviz(
    model,
    out_file=None,
    feature_names=rawDF_CONJ_GRAD.feature_names,
    class_names="functionCallNum",
    filled=True,
)
graph = pydotplus.graph_from_dot_data(dot_data)

Image(graph.create_png())

AttributeError: 'DataFrame' object has no attribute 'feature_names'